@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.landing-page {
    width: 1440px;
    height: 6940px;
    background: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/*navbar style*/
.top-header {
    max-width: 1178px;
    background-color: #FFF;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 50px;


}

.top-container {
    display: flex;

    align-items: center;
    /*border: 2px solid chartreuse;*/

    gap: 16px;
    width: 50%;

}

.top-container img {
    width: 48px;

    flex-shrink: 0;

}

.top-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;



}

.travel {
    color: #FF5400;
}

.items-container {

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid seagreen;*/

}

.items-container a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;

}

/*banner section styles*/
.banner-section {
    width: 81.25%;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px auto;
    border-radius: 16px;
}

.banner-section {
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    /* border: 2px solid rgb(184, 170, 21);*/
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    margin: 50px auto;
}

.banner-heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 106px;
    padding-left: 287px;
    padding-right: 287px;
    padding-bottom: 24px;
}

.banner-para {
    width: 676px;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 247px;
}

.frame1 {
    width: 800px;
    height: 84px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

    margin: 48px 185px 106px 185px;
}

#manu {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url(/Images/Frame.png);
    background-repeat: no-repeat;
    background-position: 14px 14px;
}


/*section2*/
.section2 {
    max-width: 1178px;
    max-height: 550px;
    background-color: #fff;
    margin: 100px auto;
    display: flex;
    /*border: 2px solid tomato;*/
}

.text-container {
   /* border: 2px solid yellow;*/
    width: 50%;
    text-align: left;
}
.text-container h2{
    color: #131318;
text-align: left;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.tour-paragraph1{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
padding: 24px 0px;

}
.tour-paragraph2{
    width: 530px;
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
padding: 24px 0px 28px 0px;
}
.text-ul{
    width: 525px;
    
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
padding-left: 15px;
}
.text-li{
    padding: 16px 0px;
}
.button2{
    width: 174px;
height: 52px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border-radius: 8px;
background: #FF5400;
border: none;
}
.image2{
   
    width: 50%;
   
    border-radius: 16px;
    background:lightgray 50% / cover no-repeat;
 
    }

    .image2 img{
        width: 100%;
        max-height: 550px;
        flex-shrink: 0;
        border-radius: 16px;
       
    }