@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.landing-page {
    width: 1440px;
    height: 6940px;
    background: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/*navbar style*/
.top-header {
    max-width: 1178px;
    background-color: #FFF;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 50px;
}

.top-container {
    display: flex;
    align-items: center;
    /*border: 2px solid chartreuse;*/
    gap: 16px;
    width: 50%;
}

.top-container img {
    width: 48px;
    flex-shrink: 0;
}

.top-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.travel {
    color: #FF5400;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid seagreen;*/
}

.items-container a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

/*banner section styles*/
.banner-section {
    width: 81.25%;
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px auto;
    border-radius: 16px;
}

.banner-section {
    width: 1170px;
    height: 500px;
    flex-shrink: 0;
    /* border: 2px solid rgb(184, 170, 21);*/
    border-radius: 16px;
    margin: 50px auto;
}

.cover {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
}

.banner-heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 106px;
    padding-left: 287px;
    padding-right: 287px;
    padding-bottom: 24px;
}

.banner-para {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 247px;
}

.frame1 {
    width: 800px;
    height: 84px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 48px 185px 106px 185px;
}

#manu {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url(/Images/Frame.png);
    background-repeat: no-repeat;
    background-position: 14px 14px;
    border: none;
}

/*section2*/
.section2 {
    max-width: 1178px;
    max-height: 550px;
    background-color: #fff;
    margin: 100px auto;
    display: flex;
    /*border: 2px solid tomato;*/
}

.text-container {
    /* border: 2px solid yellow;*/
    width: 50%;
    text-align: left;
}

.text-container h2 {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.tour-paragraph1 {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0px;

}

.tour-paragraph2 {
    width: 530px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 24px 0px 28px 0px;
}

.text-ul {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-left: 15px;
}

.text-li {
    padding: 16px 0px;
}

.button2 {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.image2 {
    width: 50%;
    width: 550px;
    border-radius: 16px;
    margin-left: 33px;
}

.image2 img {
    width: 100%;
    max-height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
}

/*section 3 style */
.div h2 {
    width: 478px;
    height: 50px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px 480px;
}

.div p {
    width: 643px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0px 398px;
    padding: 24px 0px 48px 0px;
}

.section3 {
    width: 1170px;
    margin: 48px 135px;
    border-radius: 16px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
}

.row {
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    gap: 24px;
}

.row2 {
    display: flex;
    height: 286px;
    gap: 24px;
    padding-top: 24px;
}

.rec6 {
    width: 374px;
}

.rec7 {
    width: 474px;
}

rec9 {
    width: 274px;
}

.row3 {
    display: flex;
    height: 300px;
    gap: 24px;
    padding-top: 24px;
}

.rec11 {
    width: 473px;
}

.rec10 {
    width: 673px;
}

/*section 4 */
.section4 {
    width: 1170px;
    margin: 52px 135px;
}

.section4 h2 {
    width: 307px;
    height: 50px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px 440px;
}

.section4 p {
    width: 643px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 265px 48px 265px;
    text-align: center;
}

.row4 {
    display: flex;
    gap: 24px;
}

.logo-img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin: 32px 32px;
}

.hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    flex-shrink: 0;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    flex-shrink: 0;
}

.sec4-h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 32px;
}

.row4 .sec4-p {
    width: 486px;
    height: 78px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 32px;
}

.row5 {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 24px 300px;
    justify-content: center;
}
.row5 .sec5-p {
    width: 486px;
    height: 78px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 32px;
}

/*newsletter-section*/
.newsletter-section {
    width: 1170px;
    display: flex;
    margin: 100px 135px;
    gap: 24px;
}
.newsletter {
    width: 474px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.saveup {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(/Images/Rectangle\ 8\ \(1\).png), lightgray 50% / cover no-repeat;
}

.newsletter h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 40px;
    margin-top: 40px;
}

.newsletter p {
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 16px;
    margin-left: 40px;
}
.newsletter hr {
    width: 393px;
    height: 0px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px 40px;
}

.name {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 24px;
    margin-left: 40px;
    text-align: center;
    border: none;
}

.gmail {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-left: 40px;
    margin-top: 16px;
    text-align: center;
}

.button3 {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    margin: 24px 40px 40px 40px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.saveup .save {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    margin: 256.26px .48px .14px 337px;
}

.saveup .save h4 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: rotate(-2.00deg);
    padding-top: 24px;

}

.save h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transform: rotate(-2.00deg);
    padding-top: 4px;
    padding-left: 38px;
}

.footer {
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
 
}
.footer-logo{
    display: flex;
}
.footer-logo img{
    width: 40px;
height: 46.673px;
flex-shrink: 0;
margin-top: 110px;
margin-left: 600px;
}
.footer-logo p{
    width: 225px;
    height: 40px;
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 16px;
margin-top: 110px;
}
.footpra p{
    width: 769px;
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin: 15px 335px;
}
.footpra hr{
    width: 1320px;
height: 0px;
background: rgba(255, 255, 255, 0.15);
margin: 0px 60px;
}
.social{
    width: 100%;
    width: 174.322px;
height: 24px;
flex-shrink: 0;
justify-content: center;
margin: 24px 633px;
display: flex;
gap: 24px
}
.hr2{
    width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
margin:0px 284px;
}
.end{
    width: 191px;
    height: 19px;
    color: #131318;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin: 50px 624px 110px 624px;
}